.calendar-container {
  width: 100%;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  
}

.search-container, .date-container {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 14px;
  font-weight: 600;
}

.form-input {
  width: 250px;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
}

.date-picker {
  display: flex;
  align-items: center;
}

.calendar-popup {
  position: absolute;
  z-index: 999;
  margin-top: 10px; /* Adds spacing between the date input and the calendar */
  margin-left: 0;
  width: 250px; /* Adjust the width of the calendar popup */
}

.events-list {
  margin-top: 20px;
}

.event-item {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: center;
  }

  .form-input {
    width: 100%;
  }

  .calendar-popup {
    width: 100%;
    margin-top: 20px; /* Adds spacing below the date input */
  }
}
