/* Search bar styling */
.search-bar input {
    width: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Calendar styling */
  .calendar-container {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .events-list {
    margin-top: 20px;
  }
  
  .event-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .event-item h6 {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .event-item p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
  }
 
  
/* CSS for better responsiveness */
@media (max-width: 768px) {
    .calendar-container {
      padding: 10px;
    }
  
    .d-flex {
      flex-direction: column;
      align-items: stretch;
    }
  
    .form-label {
      margin-bottom: 10px;
    }
  
    input[type="text"] {
      width: 100%;
    }
  
    .react-calendar {
      width: 100%;
      margin-top: 10px;
    }
  
    .events-list {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .react-calendar {
      max-width: 100%;
    }
  
    .calendar-container {
      padding: 5px;
    }
  }
    