.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar {
    background: #fff;
    padding: 10px 20px;
  }
  .logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;

  }
  .title{
    font-style: italic;
    font-family: cursive;
    color: #ffc107;
    font-size: 35px;
    font-weight: bold;
  }
 
  
  .create-btn {
    background: #ffc107;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    width: 150px;
    height: 50px;
    
  }
  .create-btn-text{
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .account-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffc107;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .night_mode_switch__btn {
    font-size: 24px;
    cursor: pointer;
  }
  
  .offcanvas-footer{
    background: #f8f9fa;
  }
  
  .offcanvas-create-btn {
    display: flex;
    align-items: center;
    background:#ffc107;
    color: white;
    padding-top: 60px;
    border-radius: 5px;
    text-decoration: none;
  }
  

  